.DisplayMeme {
    font-family: 'Luckiest Guy', cursive;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.DisplayMeme .topText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.DisplayMeme .bottomText {
    font-size: 30px;
    font-weight: bold;
    grid-row-start: 3;
    text-align: center;
}